# General
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock

# Android
android/app/libs/
android/idea/
android/.gradle/
android/app/src/main/assets/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Pods/
ios/.symlinks/

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Sensitive Data / Local Config
lib/features/blockchain_report/data/services/blockchain_config.dart
.env
